<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDEClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDEClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SDEClient.Properties.Settings>
            <setting name="服务平台增强工具_UPDATE_UPDATE" serializeAs="String">
                <value>http://127.0.0.1:9000/SDETools/UPDATE.asmx</value>
            </setting>
            <setting name="服务平台增强工具_Remind_RemindTools" serializeAs="String">
                <value>http://127.0.0.1:9000/SDETools/RemindTools.asmx</value>
            </setting>
            <setting name="服务平台增强工具_Attachment_AttachmentTools" serializeAs="String">
                <value>http://127.0.0.1:9000/SDETools/AttachmentTools.asmx</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>\Attachment\</value>
            </setting>
        </SDEClient.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SDEClient.Properties.Settings>
            <setting name="Dir" serializeAs="String">
                <value />
            </setting>
        </SDEClient.Properties.Settings>
    </userSettings>
</configuration>